<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Products</h1>
    <div id="product-list"></div>

    <script src="/js/products.js"></script>

    <form action="/api/v2/products">
        <h1>This is my product Route</h1>
    </form>
</body>
</html>
